<!-- Modal -->
<div class="modal fade" id="modalDatosAlertas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Alertas derivadas desde otras áreas:</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table id="tabla_alertas_pendientes" class="table table-sm table-bordered table-striped table-hover"
						width="100%">
						<thead class="table-dark">
							<tr>
								<th class="text-center">#</th>
								<th class="text-center">Sector</th>
								<th class="text-center">Cédula</th>
								<th class="text-center">Nombre Cliente</th>
								<th class="text-center">Teléfono</th>
								<th class="text-center">Ver más</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>