<div class="container">
	<div class="modal fade" id="modalDatosCRM" role="dialog" style="z-index: 3;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Datos CRM:</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body" >
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Fecha solicitud:</th>
								<th>Sector:</th>
								<th>Socio:</th>
								<th>Observación:</th>
								<th>Ver detalles:</th>
							</tr>
						</thead>
						<tbody id="tbodyMDCRM">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>