<div class="modal fade" id="modalDatosAlertasNivel1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Alertas derivadas desde otras áreas:</h3>
				<button type="button" class="close" value="" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">Sector:</th>
							<th class="text-center">Cedula:</th>
							<th class="text-center">Nombre: cliente</th>
							<th class="text-center">Telefono:</th>
							<th>Observación:</th>
							<th class="text-center">Concretado:</th>
						</tr>
					</thead>
					<tbody id="tbodyMDA">
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>