<div class="modal fade" id="modalVerMasFuncionarios" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h3>Ver más:</h3>
				<button type="button" class="close" value="" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					
					<textarea name="todo_comentario_funcionarios" id="todo_comentario_funcionarios" cols="30" rows="10" class="form-control" disabled></textarea>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>