<div id="historiaComunicacionDeCedulaDiv_funcionarios" class="container" style="display:none; margin-top: 1rem;">
	<div class="alert alert-light" role="alert">
		<div class="box-body">
			<table id="tabla_historia_comunicacion_de_cedula_funcionario" class="table table-sm table-bordered">
				<thead class="bg-info text-dark">
					<tr>
						<th>Nro. Registro</th>
						<th>Fecha/Hora</th>
						<th>Sector</th>
						<th>Comentario</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" id="historiaComunicacionDeCedula_funcionarios">
				</tbody>
			</table>
		</div>
	</div>
</div>