<div id="historiaComunicacionDeCedulaDiv" class="container mb-5" style="display:none; margin-top: 1rem;">
	<div class="alert alert-light" role="alert">
		<div class="box-body">
			<h3 class="text-center"><u>Registros:</u><span id="cedulas"></span></h3>
			<table id="example1" class="table table-sm table-bordered">
				<thead class="bg-info text-dark">
					<tr>
						<th>Fecha/Hora</th>
						<th>Sector</th>
						<th>Socio</th>
						<th>Baja</th>
						<th>Comentario</th>
						<th>Avisar a</th>
						<th>Imagen</th>
						<th>Más info</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" id="historiaComunicacionDeCedula">
				</tbody>
			</table>
		</div>
	</div>


	<hr class="style5 container">


	<div class="alert alert-primary border border-info" role="alert">
		<div class="form-row text-center">
			<div class="form-group col-12 mb-5">
				<h3 class="text-center"><u>Productos Contratados:</u><span id="cedulas"></span></h3>
				<table id="tabla_servicios_contratados" class="table table-bordered table-striped hover"
					style="width:100%">
					<thead class="bg-dark text-white">
						<tr>
							<th class="text-center col-auto">Nro servicio</th>
							<th class="text-center col-auto">Nombre Servicio</th>
							<th class="text-center col-auto">Cantidad de horas</th>
							<th class="text-center col-auto">Importe</th>
							<th class="text-center col-auto">Fecha de afiliación</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<div class="form-group col-12 mb-5">
				<h3 class="text-center"><u>Servicios Utilizados:</u><span id="cedulas"></span></h3>
				<table id="tabla_servicios" class="table table-bordered table-striped hover" style="width:100%">
					<thead class="bg-dark text-white">
						<tr>
							<th class="text-center col-auto">#</th>
							<th class="text-center col-auto">Fecha Inicio</th>
							<th class="text-center col-auto">Fecha Fin</th>
							<th class="text-center col-auto">Horas por día</th>
							<th class="text-center col-auto">Hora Inicio</th>
							<th class="text-center col-auto">Hora Fin</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<!--
				<div class="form-group col-12 mb-5">
					<h3 class="text-center"><u>Observaciones de coordinación:</u><span id="cedulas"></span></h3>
					<table id="tabla_servicios_coordinacion" class="table table-bordered table-striped hover"
						style="width:100%">
						<thead class="bg-dark text-white">
							<tr>
								<th class="text-center col-auto">Nro servicio</th>
								<th class="text-center col-auto">Obs servicio</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				-->

			<div class="form-group col-12 mb-5">
				<h3 class="text-center"><u>Datos de Cobranzas:</u><span id="cedulas"></span></h3>
				<table id="tabla_datos_cobranzas" class="table table-bordered table-striped hover" style="width:100%">
					<thead class="bg-dark text-white">
						<tr>
							<th class="text-center col-auto">Mes</th>
							<th class="text-center col-auto">Año</th>
							<th class="text-center col-auto">Importe</th>
							<th class="text-center col-auto">Cobrado En El Mes De</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

</div>