<link rel="stylesheet" href="assets/css/login.css">
<link rel="stylesheet" href="assets/css/tabla.css"> 
<div class="container">
	<div class="form-row">
		<div class="col-sm-6 col-md-4 col-md-offset-4 mx-auto">
			<div class="account-wall">
				<img class="profile-img" src="views/images/globito.jpg" alt=""/>
				<form class="form-signin" name="form" id="form">
					<input type="text" 		id="usuario" 	name="usuario" 	class="form-control" placeholder="Usuario" autofocus>
					<input type="password" 	id="password" 	name="password" class="form-control" placeholder="Codigo">
					<input type="button" 	id="boton" 						class="btn btn-lg btn-primary btn-block" value="Ingresar" onclick="log()">
				</form>
			</div>
		</div>
	</div>
</div>