<!-- Modal -->
<div class="modal modal-lg fade" id="modal_verMasInfoRegistros" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Más información sobre el registro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_nombre_registro" placeholder="Nombre:"
                                disabled>
                            <label for="text_nombre_registro">Nombre:</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_cedula_registro" placeholder="Cédula:"
                                disabled>
                            <label for="text_cedula_registro">Cédula:</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_telefono_registro" placeholder="Teléfono:"
                                disabled>
                            <label for="text_telefono_registro">Teléfono:</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_socio_registro" placeholder="Socio:"
                                disabled>
                            <label for="text_socio_registro">Socio:</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_baja_registro" placeholder="Baja:"
                                disabled>
                            <label for="text_baja_registro">Baja:</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_sector_registro" placeholder="Sector:"
                                disabled>
                            <label for="text_sector_registro">Sector:</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text_fecha_registro_registro"
                                placeholder="Fecha de registro:" disabled>
                            <label for="text_fecha_registro_registro">Fecha de registro:</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-floating mb-5">
                            <textarea class="form-control" placeholder="Observación:"
                                id="text_observacion_registro" disabled style="height: 100%;" rows="10"></textarea>
                            <label for="text_observacion_registro">Observación:</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>